// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: rgba(250, 230, 148, 1);
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$primary-color: rgba(246, 167, 133, 1);
$grey: rgba(217, 217, 217, 1);
$white: rgba(255, 255, 255, 1);
