// Specific CSS for your home-page
.home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

.buttons {
  align-self: end;
  margin-top: 10px;
}

.green-logo {
  position: absolute;
  top: 10px;
  left: -60px;
  z-index: -1;
}

.images {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 12px;

  img {
    width: 100%;
  }
}

.text-orange {
  color: $primary-color;
}
