.show-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.carousel-spacing {
  padding: 50px;
}

.product-details {
  margin-top: 10px;
  background-color: #FAE694;
  padding: 24px;
  margin-bottom: 60px;
  border-radius: 10px 10px 10px 10px;
}
