<div class="navbar">
  <div class="container">
    <%= link_to items_path do %>
      <i class="fa-solid fa-house"></i>
    <% end %>
    <%= link_to new_item_path do %>
      <i class="fa-solid fa-plus"></i>
      <% end %>
    <%= link_to items_path do %>
      <i class="fa-solid fa-magnifying-glass"></i>
    <% end %>
  </div>
</div>
