<div class="container home">
  <div class="buttons">
    <button class="button">sign up</button>
    <button class="button">log in</button>
  </div>
  <h1>Fashion with a purpose: Rent, Reuse, and make a Sustainable Statement!</h1>
  <p></p>

  <h1>hello rentd</h1>

  <button class="orange-button">Get started</button>
  <%= image_tag "logo.png", width: 200 %>
</div>
