.button {
  padding: 12px 16px;
  font-size: 14px;
  background-color: transparent;
  color: black;
  border: none;
  cursor: pointer;
}

.orange-button {
  padding: 12px 0;
  width: 100%;
  font-size: 18px;
  background-color: #F6A785;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.yellow-button {
  padding: 12px 0;
  width: 100%;
  font-size: 18px;
  background-color: #FAE694;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}


.rent-button {
  padding: 12px 0;
  width: 200px;
  font-size: 18px;
  margin-bottom: 20px;
  background-color: #FAE694;
  color: black;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
}
