.card {
  display: flex;
  justify-content: center;
}

.card-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin: 0;
  padding: 0;
}

.form-container {
  /* Make the form wider */
  max-width: 500px;
}

#camera {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
  }
