.card {
  display: flex;
  justify-content: center;
}

.form-container {
  /* Make the form wider */
  max-width: 500px;
}

#camera {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
  }
