.filter-sort {
  margin-bottom: 20px;
}

.filter-select {
  background-color: #FAE694;
  font-family: $body-font, "Work Sans", "Helvetica", sans-serif;
  font-size: 14px;
}

.filter-button {
  background-color: #FAE694;
  font-family: $body-font, "Work Sans", "Helvetica", sans-serif;
  font-size: 14px;
}
